.about_section {
    background-color: #0b0c10;
    padding-bottom: 5rem;
}

.image_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.full-height-image {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.full-height-image img {
    height: 100%;
    max-width: 54rem;
    opacity: 0.7;

}

.stacked-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.stacked-images img {
    height: auto;
    max-width: 27rem;
    opacity: 0.7;
    transition: 0.3s;
}

.image_content {
    position: absolute;
    left: 5%;
    top: 70%;
    color: white;
    z-index: 100;

}

.right_image {
    position: relative;
}

.right_image_content {
    position: absolute;
    color: white;
    left: 5%;
    top: 50%;
}

.full-height-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.stacked-images img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.topics {
    display: flex;
    color: white;
    justify-content: space-between
}

.topics p {
    color: #c6c6c6;
}

.topics div {
    max-width: 22rem;
    margin-top: 3rem;
    padding: 0 2rem
}

.animate_bot_2 {
    animation: animate_from_bottom ease 1.3s;
}

.animate_bot_3 {
    animation: animate_from_bottom ease 1.5s;
}

.border_left {
    border-left: 2px solid aqua;
}

.border_right {
    border-right: 2px solid aqua;
}

/* Animations */
@keyframes animate_from_bottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media queries */
@media only screen and (max-width:768px) {
    .image_container {
        flex-direction: column;
        align-items: center;
    }

    .full-height-image img {
        max-width: 100%;
    }

    .stacked-images img {
        max-width: 100%;
    }

    .topics {
        flex-direction: column;
        border: none;
        align-items: center;
        text-align: center;
    }

    .topics div {
        border: transparent
    }
}

@media only screen and (max-width:604px) {
    .image_content {
        font-size: 12px;
        top: 60%;
    }

    .right_image_content {
        font-size: 12px;
    }
}

@media only screen and (max-width:340px) {
    .image_content {
        top: 50%;

    }

    .right_image_content {
        top: 40%;
    }
}