.contact_section {
    background-color: #0b0c10;
    color: white;
    padding-bottom: 7rem;
}

.contact_info {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 6rem;

}

.side_borders {
    border-right: 1px solid aqua;
    border-left: 1px solid aqua;
    padding: 1.5rem 5rem;
}

.contact_info_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contacts_title {
    text-align: center;
    margin: 5rem 0;
}

.contacts_title h2 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 8px;
}

.contacts_title p {
    font-size: 1rem;
    color: #66fcf1;
}

.contact_info_item p {
    padding-bottom: 10px;
    color: gray;
}

@media only screen and (max-width:864px) {
    .side_borders {
        padding: 1rem 2.5rem;
    }
}

@media only screen and (max-width:768px) {
    .side_borders {
        padding: 1rem 2rem;
    }

    .contact_info {
        flex-direction: column;
    }

    .side_borders {
        border: none;
    }

    .contacts_title h2 {
        font-size: 2.7rem;
    }
}