.flex {
    display: flex;
}

.wrapper {
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    animation: slideInFromTop 1s ease;
}

.pirus_logo {
    max-width: 9rem;
    display: flex;
    align-items: center;
}

.nav_links {
    padding: 1rem;
}

.nav_links a {
    padding: 1rem;
    color: white;
    transition: 0.3s;

}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: #66fcf1;
    text-decoration-thickness: 4px;
    text-underline-offset: 1rem;
    opacity: 0.8;
}

.dropdown {
    position: relative;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1b1a1a;
    padding: 20px;
    width: 10rem;
    margin-top: 1rem;
}

.dropdown_menu li {
    padding: 0.7rem 0;
}

.dropdown_menu li:hover {
    opacity: 0.7;
    text-decoration: none;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

/* ANIMATIONS */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}